.Update-profile {
  &-container {
    height: 50vh;
  }
  &-subContainer {
    height: 70%;
    width: 80%;
  }
}
.btn-height {
  font-size: 14px !important;
}

.font {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px !important;
  line-height: 21px;
}
