.remit_feesAndCharges{
    height: 35px;
    
}

.remit_dynamic_rows{
    background-color: white;
    margin:0px 10px 0px 0px; 
}

.remit_dynamic_addBtn{
    background-color:#39C570;
    color: white;
    height: 25px;
    width:25px;
    padding: 4px;
    margin:0px 5px 0px 10px;
}
.remit_dynamic_deleteBtn{
    color:#E30613;
    height: 25px;
    width:25px;
    margin:0px 5px;
}
.width{
    width: 35% !important;
}
.textAreaWidth{
    width: 100%;
}