.delete-card {
  margin-top: 20px;
  width: 100%;
}
.btn-div {
  display: flex;
  justify-content: center;
}

.mr-rt-10px {
  margin-right: 10px;
}
.btn-width-edit {
  width: 10%;
}
.btn-sucess {
  color: #39c570;
}
.wallet-btn-confirm {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-red {
  color: #f52b07;
}
