@import "../../App.scss";

.formRadiusMobile{
    border-radius: unset;
    font-size: 14px;
    height: 35px;
    padding: 3px;
    text-align: left;
  }
.def_fontsizeMob{
    font-size: 14px;
}
.textNew{
    font-size: 9px;
}