@import "../../App.scss";

.alignLeft {
  margin-left: 15px;
}

.edit-behalf-wrapper {
  background: rgb(243, 243, 243);
  width: 100%;
}
.backbtneditBehalfSetup {
  width: 77px;
  height: 35px;
  background: #f3f3f3;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.edit-behalf-form {
  padding: 2rem 3rem 1rem 3rem;
}
.save-button:hover {
  background: $submithover;
}
.behalfSetupLabel {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}
