.Header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 3rem;
}

.nav-link {
  color: white;
}

.table-div {
  margin-top: 3rem;
}

.label-font {
  font-size: 20px;
}
.ft-14 {
  font-size: 14px;
}

.card-margin {
  margin-left: 3rem;
  margin-right: 3rem;
}
.thead-font {
  font-weight: bold;
  font-size: 18px;
}
.button-align {
  float: right;
  width: 10%;
}
.Form-group {
  margin-bottom: 10px;
}

.delete-btn {
  margin-left: "10px";
}
