
.salaryUpload-heading {
  display: inline;
  font-size: 25px;
  font-weight: 700;
}
.salaryUpload-btn {
  margin-top: 5px;
  float: right;
}
.salaryPayment-table {
  margin: 40px 10px 40px 20px;
}

.salaryUpload-button {
  margin-right: 0px;
}

.Info {
  margin-left: 3px;
  border: 1px solid rgb(206, 203, 203);
  height: 20px;
  width: 40%;
  color: red;
  display: flex;
  align-items: center;
  background-color: rgb(219, 213, 213);
}
.Screeninfo {
  border: 1px solid rgb(180, 177, 177);
  width: 40%;
  color: red;
  height: 20px;
  align-items: center;
  display: flex;
  background-color: rgb(219, 213, 213);
}

.Icon {
  width: 18%;
  border: 1px solid gray;

  height: 20px;
  display: flex;
  align-items: center;

  justify-content: flex-end;
  background-color: rgb(219, 213, 213);
}
.parent {
  width: 100%;
}
.First {
  width: 10%;
  text-align: center;
  justify-content: space-between;
}

.Second {
  width: 15%;
  text-align: center;
  justify-content: space-between;
}

.Third {
  width: 20%;
  text-align: center;
  justify-content: space-between;
}
.Fourth {
  width: 14%;
  text-align: center;
  justify-content: space-between;
}

.Fivth {
  width: 16%;
  text-align: center;
  justify-content: space-between;
}

.Sixth {
  width: 19%;
  text-align: center;
  justify-content: space-between;
}
