.span-font-highlight{
    color: red;
    cursor: pointer;
}

.span-font{
    font-size: 18px;
    font-weight: 500;
}

.card-display{
    margin-top:3rem;
    margin-bottom:3rem;
}
.card-top-margin{
    margin-top:2rem;
}