.filterarea{
    margin-left: -3rem;
}
.textboxs{
    margin-top: -1rem;
}
.buttonbox{
    margin-top: 10px;
}
.btn-color{
    font-size:14px
}

.agent-filterBtn{
    padding: 3px 12px;
    margin-bottom: 5px;
    font-size: 14px;
}