.Header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 3rem;
}

.nav-link {
  color: white;
}

.table-div {
  margin-top: 3rem;
  text-align: center;
  display: flex;
}

.btn-add {
  margin-right: 2rem;
}
.btn-width-add {
  margin-right: 3rem;
}
