.riskFactorButton{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
}
.riskFactorIcon{
    color:white;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
.activate_risk{
    background-color: #39C570;
}

.deActivate_risk{
    background-color:#E30613 ;
}