
  .card-margin{
    margin-left: 3rem;
    margin-right: 3rem;
  }
 
  .Form-group{
    margin-bottom:10px;
  }

.secondary{
  margin-Left:30px;
  margin-Right:13px;
  margin-Bottom:20px;
  width:10%;
}
.primary{
  margin-left:400px;
  margin-Right:12px;
  margin-Bottom:20px;
  width:10%;
}