



.editTarget-label{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    width: 100%;
    /* identical to box height, or 17px */
    
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: #000000;
    }