@import "../../App.scss";

.manageButton {
  background-color: #39c570;
  border-color: $backColour;
  color: $white;
  width: 25px;
  height: 25px;
  text-align: center;
}
.manageButtonUnlock {
  background-color: $backColour;
  border-color: $backColour;
  color: black;
  width: 25px;
  height: 25px;
  margin-left: 3px;
  text-align: center;
}
.userLoginFilterSection {
  background: $backgroundDark;
  min-height: 150px;
  &-input {
    width: 95%;
    height: 25px;
    font-size: 10px;
    font-weight: bold;
  }
  &-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #ffffff;
  }
  &-filter {
    background: gray;
    width: 32px;
    height: 25px;
    font-size: 10px;
  }
  &-forword {
    background: #867e7e;
    width: 40px;
    height: 30px;
    font-size: 10px;
  }
}
.titleFilterUser {
  color: white !important;
}
.colorRedUser {
  color: $Redbtn;
  float: right;
  font-size: 14px;
  font-weight: 400;
}
.formRadiusUser {
  font-size: 11px;
  height: 40px;
  padding: 2px;
}
.formRadiusCode {
  width: 55%;
  padding: 3px;
  font-size: 14px;
}
.formRadiusDate {
  font-size: 14px;
  height: 40px;
}
.inputFieldUser {
  margin-left: 12px;
}
.buttonUser {
  padding-top: 25px;
  display: flex;
}
.nextBtnUserLogin {
  border-radius: unset;
  margin-right: 5px;
  width: 5rem;
  background: $Redbtn;
  border: none;
  height: 2rem;
  font-weight: bold;
  padding: 0px;
}

.backBtnUserLogin {
  border-radius: unset;
  margin-right: 0rem;
  width: 5rem;
  color: $Greybtn;
  border: none;
  height: 2rem;
  font-weight: bold;
  padding: 0px;
}
.filterContentUser {
  padding: 0px;
}
.filteredAreaUserLogin {
  background-color: $backColour;
  height: 50px;
  margin: 0px;
  padding: 5px;
  margin-bottom: 20px;
  align-items: center;
}
.conColorUserLogin {
  background-color: $Greybtn;
  min-height: 30px;
  border-radius: 5px;
  width: 200px;
  align-items: center;
}
.closeIconUserLogin {
  margin-top: -23px;
  margin-left: -32px;
  color: $Redbtn;
  height: 1.5rem;
  width: 1.5rem;
}
.paraTextUserLogin {
  text-align: center;
  margin-top: 5px;
  font-size: 11px;
}

.mobilenoLeft {
  margin-left: -2rem;
}
.text-red {
  color: $Redbtn;
}
.nextBtnUserLogin:hover {
  background: $submithover;
}
.backBtnUserLogin:hover {
  background: $cancelhover;
}
.hoverpointer:hover {
  cursor: pointer;
}
.formGroup {
  width: 12%;
}
.labelUser {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;
}
.label-align {
  margin-left: -11px;
}
.formRadiusUser::placeholder {
  font-size: 14px;
}
