.docUploadFilter{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    color: #FFFFFF;
    }
    .docUploadFilterSection{
        width: 100%;
        height: 190px;
        background: #363931;
    }
    .docUploadbuttonDiv{
        margin-top: 28px;
    }
    .docUploadLabel{
    width: 100%;
    height: 25px;
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    }
    .doc-filterTop{
        margin-top: -25px;
    }

    .modal_button{
        background-color: #e30613;
    }